[defaults]
force_color = false
force_handlers = True
nocows = 1
inventory = customers

[persistent_connection]
command_timeout = 10

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
