{
    "type": "project",
    "require": {
        "contao/conflicts": "*@dev",
        "contao/manager-bundle": "{{ contao_version }}.*"
    },
    "extra": {
        "contao-component-dir": "assets"
    },
    "scripts": {
        "post-install-cmd": [
{% if contao_version == '4.9' %}
            "Contao\\ManagerBundle\\Composer\\ScriptHandler::initializeApplication"
{% else %}
            "@php vendor/bin/contao-setup"
{% endif %}
        ],
        "post-update-cmd": [
{% if contao_version == '4.9' %}
            "Contao\\ManagerBundle\\Composer\\ScriptHandler::initializeApplication"
{% else %}
            "@php vendor/bin/contao-setup"
{% endif %}
        ]
    }
}
