{
    "__comment" : "{{ ansible_managed }}",
    "users": {
        "{{ contao_manager_user }}": {
            "username": "{{ contao_manager_user }}",
            "password": "{{ contao_manager_pass_crypt }}"
        }
    },
{% if contao_manager_token is defined %}
    "tokens": {
        "{{contao_manager_token}}": {
            "username": "{{ contao_manager_user }}",
            "client_id": "Monitoring",
            "scope": "admin"
        }
    },
{% endif %}
    "version": 2,
    "secret": "{{ contao_manager_secret }}"
}
